* {
    box-sizing: border-box;
}

body,
::after,
::before {
    padding: 0;
    margin: 0;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

img {
    object-fit: cover;
    vertical-align: middle;
}

.container{
    display: flex;
    align-items: flex-start;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    overflow-x: hidden;
}